.tv-shows {
  display: flex;
  flex-direction: column;
}
.show-card {
  background: #f8ede2;
  margin-bottom: 20px;
  display: flex;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 71px -32px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 71px -32px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 71px -32px rgba(255, 255, 255, 1);
  border-radius: 5px;
}
.show-poster {
  width: 350px;
  margin-right: 2em;
}
.show-poster img {
  width: 100%;
}
.show-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.show-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.top-name-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top-name-card h1,
.top-name-card p {
  margin: 0;
}
.genres-category {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.genres-category .category {
  background-color: #ff8000;
  padding: 5px 15px;
  margin-right: 10px;
  color: #fff;
  border-radius: 20px;
  font-size: 0.7em;
  font-weight: 100;
}
.progress {
  background-color: rgba(128, 121, 103, 0.4);
  border-radius: 20px;
  margin-top: 10px;
  height: 10px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, #c40804, #dd3b00);
  box-shadow: 0 3px 3px -5px #c40804, 0 2px 5px #c40804;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
.votes {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-top: 10px;
}
.votes p {
  margin: 0;
  font-size: 0.7em;
}
.overview {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  font-size: 1em;
  font-weight: 100;
}
.btn-trailer-show {
  margin-top: 10px;
}
@media (max-width: 800px) {
  .genres-category {
    flex-direction: column;
    align-items: flex-start;
  }
  .genres-category .category {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .show-card {
    flex-direction: column;
  }
  .show-poster {
    width: 100%;
    margin-right: 0;
  }
}
